<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>MY PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="ion-padding-bottom">
    <ion-avatar>
      <img src="{{userInfo.picture.large}}">
    </ion-avatar>
    <ion-label>
      <p>Name</p>
      <h3>{{userInfo.name.first}} {{userInfo.name.last}}</h3>
    </ion-label>
  </ion-item>
  <div class="map">
    <app-map [coordinates]="userInfo.location.coordinates"></app-map>
  </div>
  <div class="bottom">
    <div class="left">
      <ion-text>Gender</ion-text>
      <div class="icon">
        <ion-icon [name]="userInfo.gender === 'male' ? 'male-outline' : 'female-outline' "></ion-icon>
      </div>
    </div>

    <div class="right">
      <div class="age-title">
        <ion-text>Age</ion-text>
      </div>
      <ion-text class="age">{{userInfo.dob.age}} yo</ion-text>
      <div class="bar">
        <div class="bar-1"></div>
        <div *ngFor="let arr of indicatorArr">
          <div class="bar-2" [ngStyle]="{'bottom': arr}"></div>
        </div>
      </div>

    </div>
  </div>


</ion-content>
