<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>MY PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-avatar>
        <img src="https://avatars.githubusercontent.com/u/9548700?v=4">
      </ion-avatar>
      <ion-label>
        <p>Name</p>
        <h3>Erkin Alan</h3>
      </ion-label>
    </ion-item>
  <hr/>


</ion-content>
